<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Cadastro</h1>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="usuario.Nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CPF</ion-label>
    <ion-input [(ngModel)]="usuario.cpf"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input [(ngModel)]="usuario.telefone" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data de Nascimento</ion-label>
    <ion-input [(ngModel)]="usuario.datanascimento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type= "password" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirma senha</ion-label>
    <ion-input type="password" [(ngModel)]="confirmaSenha"></ion-input>
  </ion-item>

  <ion-button expand="block" color="success" (click)="salvar()">SALVAR</ion-button>

  <ion-button expand="block" routerLink="/nome">Voltar</ion-button>
</ion-content>
